
<md-tab-group>
  <md-tab>
    <template md-tab-label>Tabular</template>
    <template md-tab-content>
      <md-card>
<div class="container inddata">
  <h2>{{indicatorCode}}</h2>
  <table class="table table-hover table-condensed inddatatable">
    <thead>
      <tr>
        <th class="inddatath">Country</th>
        <th class="inddatath">Value</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let result of results">
        <td>{{result.cname}}</td>
        <td>{{result.value | number:'2.1-5'}}</td>
      </tr>
    </tbody>
  </table>
</div>
</md-card>
      
    </template>
  </md-tab>
  <md-tab>
    <template md-tab-label>Visual (Top/Bottom 10)</template>
    <template md-tab-content>
      <app-chart [data]="chartTop10Data">Loading...</app-chart>
      <br>
      <app-chart [data]="chartBottom10Data">Loading...</app-chart>
    </template>
  </md-tab>
</md-tab-group>

